<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <link rel="stylesheet" type="text/css" href="/../css/fluig-style-guide.min.css">
        <link rel="stylesheet" href="/../css/style.css">
		<script src="/../js/jquery.js"></script>
		<script src="/../js/jquery-ui.min.js"></script>
		<script src="/../js/mustache-min.js"></script>
		<script src="/../js/fluig-style-guide.min.js"></script>
    </head>
<body>
<div class="fluig-style-guide edit-div">
	<form method="post" action="" id="the-form" role="form">
		<div class="row">
			<div class="form-group col-md-3">
				<label for="name">Nome</label>
				<input type="text" class="form-control" id="name" name="name" placeholder="Nome" value="<%=data[0].name%>">
			</div>	
		</div>
		<div class="row">
			<div class="form-group col-md-3">
				<label for="email">E-mail</label>
				<input type="email" class="form-control" id="email" name="email" placeholder="E-mail" value="<%=data[0].email%>">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-3">
				<label for="password">Senha</label>
				<input type="password" class="form-control" id="password" name="password" placeholder="Senha" value="<%=data[0].password%>">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<input type="button" class="btn btn-info" value="Salvar" onClick="saveUser()">
			</div>
		</div>
		<div class="err-area">
		<div>
	</form>
</div>
 <script>
        function saveUser() {
            var loading = FLUIGC.loading(".edit-div");
            loading.show();
            $.ajax({
                url: "/api/user/" + <%=data[0].user_id%>,
                type: "put",
                data: $("#the-form").serialize(),
                success: function(res) {
                    loading.hide();
                    window.location.href = '/api/user';
                    return false;
                },
                error: function(xhr, status, error) {
                    console.log(xhr.responseText);
                    var err = '';
                    loading.hide();
                    $.each(JSON.parse(xhr.responseText), function(i, item) {

                        err += '<li>' + item.msg + '</li>';
                    });
                    $(".err-area").html(err);
                    return false;
                }
            });
        }
    </script>
</body>
</html>
