<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" type="text/css" href="/../css/fluig-style-guide.min.css">
    <script src="/../js/jquery.js"></script>
    <script src="/../js/jquery-ui.min.js"></script>
    <script src="/../js/mustache-min.js"></script>
    <script src="/../js/fluig-style-guide.min.js"></script>
</head>

<body class="fluig-style-guide">
	<div class="row fs-md-space">
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Dados do usuário</h3>
				</div>
				<div class="panel-body">
					<form method="post" action="" id="the-form" role="form">
						<div class="row">
							<div class="form-group col-md-12">
								<label for="name">Nome</label>
								<input type="text" class="form-control" id="name" name="name" placeholder="Nome">
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-12">
								<label for="email">E-mail</label>
								<input type="email" class="form-control" id="email" name="email" placeholder="E-mail">
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-12">
								<label for="password">Senha</label>
								<input type="password" class="form-control" id="password" name="password" placeholder="Senha">
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<input type="button" class="btn btn-info fs-float-right" id="saveUserBtn" value="Salvar" onClick="saveUser()">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

    <div class="fs-md-space">
        <div class="panel panel-default panel-table">
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width="50px">Id</th>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Senha</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(data.length){ 
									
					 for(var i = 0;i < data.length;i++) { %>

                            <tr>
                                <td>
                                    <%=(i+1)%>
                                </td>
                                <td>
                                    <%=data[i].name%>
                                </td>
                                <td>
                                    <%=data[i].email%>
                                </td>
                                <td>
                                    <%=data[i].password%>
                                </td>
                                <td>
                                    <a class="a-inside edit" href="/api/user/<%=data[i].user_id%>"><span class="fluigicon fluigicon-pencil fluigicon-sm"></span></a>
                                    <a class="a-inside delete" href="javascript:void(0)" onClick="deleteUser(<%=data[i].user_id%>)"><span class="fluigicon fluigicon-remove fluigicon-sm"></span></a>
                                </td>
                            </tr>
                            <% }
					
					 }else{ %>
                                <tr>
                                    <td colspan="5">Nenhum registro</td>
                                </tr>
                                <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
		var load = FLUIGC.loading(".panel-table");
		
        function saveUser() {
			load.show();
			toggleButton();
            $.ajax({
                url: "/api/user",
                type: "post",
                data: $("#the-form").serialize(),
                success: function(res) {
                    window.location.reload();
					load.hide();
					toggleButton();
                    return false;
                },
                error: function(xhr, status, error) {
                    console.log(xhr.responseText);
                    var err = '';
                    $.each(JSON.parse(xhr.responseText), function(i, item) {
                        err += '<li>' + item.msg + '</li>';
                    });
                    FLUIGC.toast({title:"Atenção", message: err, type: "danger"});
					load.hide();
					toggleButton();
                    return false;
                }

            });
        }

        function deleteUser(user_id) {
			load.show();
			toggleButton();
            $.ajax({
                url: "/api/user/" + user_id,
                type: 'DELETE',
                success: function(res) {
                    window.location.reload();
					load.hide();
					toggleButton();
                    return false;
                },
                error: function(xhr, status, error) {
					FLUIGC.toast({title:"Atenção", message: "Erro ao remover registro: " + xhr.responseText, type: "danger"});
					load.hide();
					toggleButton();
                    return false;
                }
            });
        }
		
		function toggleButton(){
			if($("#saveUserBtn").hasClass("disabled")){
				$("#saveUserBtn").removeClass("disabled");
			}else{
				$("#saveUserBtn").addClass("disabled");
			}
		}
    </script>
</body>

</html>